@{
    ViewData["Title"] = "Details";
    Layout = "_MyLayout";
    @model int;

}


<div class="text-center m-auto container">
    <h1>Pizzeria da Davide</h1>
</div>
<div class="js_loading text-center">
    <img width="100" src="/img/loader.gif" />
    <p>Loading...</p>
</div>
<div class="js_no_pizza d-none">
    <p>La pizza non è stata trovata</p>
</div>
<div class="js_pizza_table text-center m-auto w-50">
</div>
<div class="container">
    <form onsubmit="UpdatePizza(event)" class=" form-update form-pizza m-auto">
        <div class="mb-3">
            <strong>Nome:</strong>
            <input id="pizzaName" class="d-block form-control w-100" />

        </div>
        <div class="mb-3">
            <strong>Descrizione:</strong>
            <textarea rows="8" id="pizzaDescription" class="d-block form-control w-100">
                </textarea>

        </div>

        <div class="mb-3">
            <strong>Immagine </strong> <span>(fake img: "/img/img-6.jpeg"):</span>
            <input id="pizzaImage" class="d-block form-control w-100" />

        </div>
        <strong>Price:</strong>
        <div class="input-group mb-3">

            <span class="input-group-text">€</span>
            <input id="pizzaPrice" type="text" class="form-control" aria-label="Amount (to the nearest Euro)">

        </div>

        <div class="mb-3">
            <strong>Categoria:</strong>
            <select id="pizzaCategoryId" class="form-select js_form_categories" aria-label="Default select example">
            </select>

        </div>

        <div class="mb-3">
            <strong>Ingredienti:</strong>
            <div id="SelectedIngredients"
                 size="10"
                 class="form-checkbox bg-white js_form_ingredients row row-cols-3  text-dark p-3">
            </div>
        </div>

        <div class="text-end">
            <input type="submit" class="btn btn-small btn-info" value="Salva">
        </div>
    </form>
</div>


<script type="text/javascript">


    let formOpened = false;
    getPizza();

    function openForm(formBool) {
        !formBool;
        console.log(formBool)
        if (formBool) {
            document.querySelector('.modify-btn').classList.remove("d-none")
        } else {
            document.querySelector('.modify-btn').classList.add("d-none")
        }
    }

    //id = window.location.pathname.split('/')[3];
    function getPizza() {

        axios.get('/api/pizza/getpizza/' + @Model).then(
            result => {
                console.log("resss", result.data)
                let pizza = [];
                pizza = result.data
                document.querySelector('.js_loading').classList.add('d-none');
                if (result.data.length == 0) {
                    document.querySelector('.js_no_pizza').classList.remove('d-none');
                    document.querySelector('.js_pizza_table').classList.add('d-none');
                }
                document.querySelector('.js_no_pizza').classList.add('d-none');
                document.querySelector('.js_pizza_table').innerHTML = '';

                pizza = result.data;

                document.querySelector('.js_pizza_table').innerHTM = '';
                document.querySelector('.js_pizza_table').innerHTML +=


                    `
                                            <div class="p-3">
                                                <form onsubmit="UpdatePizza(event)">
                                              <div class="pizza_menu card col mb-3 p-2 m-auto">
                                               <img class="card-img-top w-100" src="${pizza.image}" />
                                                <div class="card-body text-black">
                                                <h2><strong>${pizza.name}</strong></h2>
                                                <div><strong>Ingredienti:</strong></div>
                                                <div class="js_ingredients">
                                                </div>
                                                <span><strong>Prezzo:</strong> ${pizza.price} € </span>
                                                     </form>
                                                <div>
                                                     <button class="btn btn-danger delete-btn" > Elimina</button>
                                                         <button class="btn btn-warning modify-btn" > Modifica</button>
                                                    </div>
                                                </div>
                                                </div>

                                              </div>
                                         `;

                document.querySelector("#pizzaName").value = pizza.name
                document.querySelector("#pizzaDescription").value = pizza.description
                document.querySelector("#pizzaImage").value = pizza.image
                document.querySelector("#pizzaPrice").value = pizza.price

                // Render to page ingredinets list
                result.data.ingredients.forEach(ingredient => {

                    document.querySelector('.js_ingredients').innerHTML +=
                        `
                                                    <span class="fs-5">${ingredient.name}</span>

                                            `
                });

                document.querySelector(".delete-btn").addEventListener("click", (e) => {


                    axios.delete('/api/pizza/delete/' + @Model).then(res => {
                        console.log(res)

                        window.location.href = "/";
                    }).catch(e => {
                        console.log(e)
                    })
                })
                /// Hidden btn
                ///document.querySelector('.modify-btn').addEventListener("click", openForm)

                // Get category list
                axios.get('/api/category/').then(res => {
                    document.querySelector('.js_form_categories').innerHTML = '';
                    res.data.forEach(category => {

                        if (category.id == pizza.categoryId) {

                            document.querySelector('.js_form_categories').innerHTML += `

                                                   <option selected value="${category.id}">${category.name}</option>

                                            `
                        } else {
                            document.querySelector('.js_form_categories').innerHTML += `

                                                   <option value="${category.id}">${category.name}</option>

                                            `
                        }

                    })

                }).catch(err => {
                    console.log(err)
                })
                // Get ingredients list
                axios.get('/api/ingredient/get').then(res => {
                    document.querySelector('.js_form_ingredients').innerHTML = '';
                    res.data.forEach(ingredient => {

                        let ingredientIds = [];

                        pizza.ingredients.forEach(ingredientArray => {

                            ingredientIds.push(ingredientArray.ingredientId)
                        })



                        if (ingredientIds.includes(ingredient.ingredientId)) {
                            document.querySelector('.js_form_ingredients').innerHTML +=
                                `

                                <div class="mb-3 col">
                                     <input class="form-check-input checked" checked type="checkbox" value="${ingredient.ingredientId}" id="checkbox_${ingredient.ingredientId}" name="SelectedIngredients[]">
                                 <label class="form-check-label" for="checkbox_${ingredient.ingredientId}">
                                 ${ingredient.name}
                                 </label>
                                </div>

                                `

                        } else {
                            document.querySelector('.js_form_ingredients').innerHTML +=
                                `
                                 <div class="mb-3 col">
                                  <input class="form-check-input"  type="checkbox" value="${ingredient.ingredientId}" id="checkbox_${ingredient.ingredientId}" name="SelectedIngredients[]">
                                   <label class="form-check-label" for="checkbox_${ingredient.ingredientId}">
                                    ${ingredient.name}
                                    </label>
                                 </div>

                                `
                        }
                    })
                }).catch(err => {
                    console.log(err)
                })


            }
        ).catch(
            error => {
                console.log(error);
                document.querySelector('.js_pizza_table').innerHTML +=

                    `
                    <div class="p-3">
                    <p>Ops qualcosa è andato storto!</p>
                    </div>
                    `;
            }
        )

    }

    ///////////////////////

    function UpdatePizza(e) {
        
        e.preventDefault();

        let pizzaName = document.querySelector("#pizzaName").value;
        let pizzaDescription = document.querySelector("#pizzaDescription").value
        let pizzaImage = document.querySelector("#pizzaImage").value
        let pizzaPrice = document.querySelector("#pizzaPrice").value
        let pizzaCategory = document.querySelector(".js_form_categories").value
        let pizzaIngredientsInput = document.getElementsByName("SelectedIngredients[]")

        console.log(pizzaIngredientsInput);
        let selected = [];
        for (let i = 0; i < pizzaIngredientsInput.length; i++) {
            if(pizzaIngredientsInput[i].checked == true){
                let value = pizzaIngredientsInput[i].value;
                selected.push(value);
            }
               

            }
        console.log(selected);

        axios.put('/api/pizza/put/' + @Model, {
            formPizza: {

            },
            pizza: {
                name: pizzaName,
                description: pizzaDescription,
                image: pizzaImage,
                price: pizzaPrice,
                categoryId: pizzaCategory
            },
            selectedIngredients: selected,


        }).then(res => {
            console.log(res)

            alert("pizza modificata correttamente")
            getPizza();
        }).catch(e => {
            console.log(e)
            alert("pizza non modificata, qualcosa è andato storto")
        })
    }



</script>
