@{
    ViewData["Title"] = "Home Page";
    Layout = "_MyLayout";
    @model int;

}


<div class="text-center m-auto">
    <h1>Pizzeria da Davide</h1>
    <div class="js_loading">
        <img width="100" src="/img/loader.gif" />
        <p>Loading...</p>
    </div>
    <div class="js_no_pizza d-none">
        <p>La pizza non è stata trovata</p>
    </div>
    <div class="js_pizza_table text-center m-auto w-50">
    </div>
    <div>
        <form onsubmit="UpdatePizza(event)">
            <div class="mb-3">
                <strong>Nome:</strong>
                <input id="pizzaName" class="d-block w-100" />
           
            </div>
            <div class="mb-3">
                <strong>Descrizione:</strong>
                <input id="pizzaDescription" class="d-block w-100" />
              
            </div>

            <div class="mb-3">
                <strong>Immagine </strong> <span>(fake img: "/img/img-6.jpeg"):</span>
                <input id="pizzaImage" class="d-block w-100" />

            </div>
            <strong>Price:</strong>
            <div class="input-group mb-3">

                <span class="input-group-text">€</span>
                <input id="pizzaPrice" type="text" class="form-control" aria-label="Amount (to the nearest Euro)">
            
            </div>
           
            <div class="text-end">
                <input type="submit" class="btn btn-small btn-info" value="Salva">
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

    //id = window.location.pathname.split('/')[3];
    axios.get('/api/pizza/' + @Model).then(
        result => {
            console.log(result);
            document.querySelector('.js_loading').classList.add('d-none');
            if (result.data.length == 0) {
                document.querySelector('.js_no_pizza').classList.remove('d-none');
                document.querySelector('.js_pizza_table').classList.add('d-none');
            }
            document.querySelector('.js_no_pizza').classList.add('d-none');
            document.querySelector('.js_pizza_table').innerHTML = '';

            let pizza = result.data;

            console.log('pizza', pizza);
            document.querySelector('.js_pizza_table').innerHTML +=
          

                `
                    <div class="p-3">
                        <form onsubmit="UpdatePizza(event)">
                      <div class="pizza_menu card col mb-3 p-2 m-auto">
                       <img class="card-img-top w-100" src="${pizza.image}" />
                        <div class="card-body text-black">
                        <h2><strong>${pizza.name}</strong></h2>
                        <div><strong>Ingredienti:</strong></div>
                        <div class="js_ingredients">
                        </div>
                        <span><strong>Prezzo:</strong> ${pizza.price} € </span>
                        <div>
                             <button class="btn btn-danger delete-btn" > Elimina</button>
                                 <button class="btn btn-warning modify-btn" > Modifica</button>
                            </div>
                        </div>
                        </div>
                     </form>
                      </div>
                 `;
            
            // Render to page ingredinets list
            result.data.ingredients.forEach(ingredient => {
                console.log('ingrediente', ingredient.name);
                document.querySelector('.js_ingredients').innerHTML +=
                    `
                            <span class="fs-5">${ingredient.name}</span>
                    
                    `
            });

            document.querySelector(".delete-btn").addEventListener("click", (e) => {
                console.log("delete")

                axios.delete('/api/pizza/' + @Model).then(res =>{
                    console.log(res)

                    window.location.href = "/";
                }).catch(e=>{
                    console.log(e)
                })


            })
           

        }
    ).catch(
        error => {
            console.log(error);
            document.querySelector('.js_pizza_table').innerHTML +=

                `
                        <div class="p-3">
                          <p>Ops qualcosa è andato storto!</p>
                          </div>
                     `;
        }
    )

    axios.get('/api/category/').then(res => {
        console.log("response-category",res.data);

        
    }).catch(err=> {
        console.log(err)
    })

    axios.get('/api/ingredient/').then(res => {
        console.log("response-ingredient", res.data);


    }).catch(err => {
        console.log(err)
    })

    ///////////////////////

    function UpdatePizza(e){
        e.preventDefault();
        console.log("ciao")
        let pizzaName = document.querySelector("#pizzaName").value;
        let pizzaDescription = document.querySelector("#pizzaDescription").value
        let pizzaImage = document.querySelector("#pizzaImage").value
        let pizzaPrice = document.querySelector("#pizzaPrice").value

        axios.put('/api/pizza/' + @Model, {
            name: pizzaName,
            description: pizzaDescription,
            image: pizzaImage,
            price: pizzaPrice,

        }).then(res => {
            console.log(res)
        }).catch(e => {
            console.log(e)
        })
    }
   
   
    
</script>