@{
    ViewData["Title"] = "Home Page";
    Layout = "_MyLayout";
    @model int;

}


<div class="text-center m-auto">
    <h1>Pizzeria da Davide</h1>
    <div class="js_loading">Loading...</div>
    <div class="js_no_pizza d-none">
    </div>
    <div class="js_pizza_table text-center m-auto row row-cols-1 row-cols-md-2 row-cols-lg-3">
    </div>
</div>

<script type="text/javascript">

    debugger;
    id = window.location.pathname.split('/')[3];
    axios.get('/api/pizza/' + id).then(
        result => {
            console.log(result);
            document.querySelector('.js_loading').classList.add('d-none');
            if (result.data.length == 0) {
                document.querySelector('.js_no_pizza').classList.remove('d-none');
                document.querySelector('.js_pizza_table').classList.add('d-none');
            }
            document.querySelector('.js_no_pizza').classList.add('d-none');
            document.querySelector('.js_pizza_table').innerHTML = '';

            let pizza = result.data;

            //forEach(ingredient in pizza.ingredients){
            //    console.log(ingredient.name)
            //}

            console.log('pizza', pizza);
            document.querySelector('.js_pizza_table').innerHTML +=

                `
                    <div class="p-3">
                      <div class="pizza_menu card col mb-3 fw-bold p-2 ">
                       <img class="card-img-top" width="100" src="${pizza.image}" />
                        <div class="card-body text-black">
                        <h3>${pizza.name}</h3>
                            <ul class="js_ingredients list-group">
                            
                        </ul>
                        </div>
                        </div>
                      </div>
                 `;
            
            result.data.ingredients.forEach(ingredient => {
                console.log('ingrediente', ingredient.name);
                document.querySelector('.js_ingredients').innerHTML +=
                    `
                            <li class="list-group-item">${ingredient.name}</li>
                    
                    `
            });

        }
    ).catch(
        error => {
            console.log(error)
        }
    )
</script>