@using System.Text.Json;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_MyLayout";
    @model int;

}


<div class="text-center m-auto">
    <h1>Pizzeria da Davide</h1>
    <div class="js_loading">
        <img width="100" src="/img/loader.gif" />
        <p>Loading...</p>
    </div>
    <div class="js_no_pizza d-none">
        <p>La pizza non è stata trovata</p>
    </div>
    <div class="js_pizza_table text-center m-auto w-50">
    </div>
    <div>
        <form onsubmit="UpdatePizza(event)">
            <div class="mb-3">
                <strong>Nome:</strong>
                <input id="pizzaName" class="d-block w-100" />
           
            </div>
            <div class="mb-3">
                <strong>Descrizione:</strong>
                <input id="pizzaDescription" class="d-block w-100" />
              
            </div>

            <div class="mb-3">
                <strong>Immagine </strong> <span>(fake img: "/img/img-6.jpeg"):</span>
                <input id="pizzaImage" class="d-block w-100" />

            </div>
            <strong>Price:</strong>
            <div class="input-group mb-3">

                <span class="input-group-text">€</span>
                <input id="pizzaPrice" type="text" class="form-control" aria-label="Amount (to the nearest Euro)">
            
            </div>

            <div class="mb-3">
                <strong>Categoria:</strong>
                <select id="pizzaCategoryId" class="form-select js_form_categories" aria-label="Default select example">

                            
                      
                </select>
                
            </div>

            <div class="mb-3">
                <strong>Ingredienti:</strong>
                <select multiple
                        id="SelectedIngredients"
                        size="10"
                        class="form-select js_form_ingredients">
                  
                            
                       
                   
                </select>
            </div>
           
            <div class="text-end">
                <input type="submit" class="btn btn-small btn-info" value="Salva">
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

    let pizza;

    //id = window.location.pathname.split('/')[3];
    axios.get('/api/pizza/' + @Model).then(
        result => {
            
            pizza = result.data
            document.querySelector('.js_loading').classList.add('d-none');
            if (result.data.length == 0) {
                document.querySelector('.js_no_pizza').classList.remove('d-none');
                document.querySelector('.js_pizza_table').classList.add('d-none');
            }
            document.querySelector('.js_no_pizza').classList.add('d-none');
            document.querySelector('.js_pizza_table').innerHTML = '';

            pizza = result.data;

            
            document.querySelector('.js_pizza_table').innerHTML +=
          

                `
                    <div class="p-3">
                        <form onsubmit="UpdatePizza(event)">
                      <div class="pizza_menu card col mb-3 p-2 m-auto">
                       <img class="card-img-top w-100" src="${pizza.image}" />
                        <div class="card-body text-black">
                        <h2><strong>${pizza.name}</strong></h2>
                        <div><strong>Ingredienti:</strong></div>
                        <div class="js_ingredients">
                        </div>
                        <span><strong>Prezzo:</strong> ${pizza.price} € </span>
                        <div>
                             <button class="btn btn-danger delete-btn" > Elimina</button>
                                 <button class="btn btn-warning modify-btn" > Modifica</button>
                            </div>
                        </div>
                        </div>
                     </form>
                      </div>
                 `;

            document.querySelector("#pizzaName").value = pizza.name
            document.querySelector("#pizzaDescription").value = pizza.description
            document.querySelector("#pizzaImage").value = pizza.image
            document.querySelector("#pizzaPrice").value = pizza.price
            
            // Render to page ingredinets list
            result.data.ingredients.forEach(ingredient => {
               
                document.querySelector('.js_ingredients').innerHTML +=
                    `
                            <span class="fs-5">${ingredient.name}</span>
                    
                    `
            });

            document.querySelector(".delete-btn").addEventListener("click", (e) => {
              

                axios.delete('/api/pizza/' + @Model).then(res =>{
                    console.log(res)

                    window.location.href = "/";
                }).catch(e=>{
                    console.log(e)
                })
            })

            // Get category list
            axios.get('/api/category/').then(res => {

                res.data.forEach(category => {
                    if (category.id == pizza.categoryId) {
                        document.querySelector('.js_form_categories').innerHTML += `

                           <option selected value="${category.id}">${category.name}</option>

                    `
                    } else {
                        document.querySelector('.js_form_categories').innerHTML += `

                           <option value="${category.id}">${category.name}</option>

                    `
                    }

                })

            }).catch(err => {
                console.log(err)
            })
            // Get ingredients list
            axios.get('/api/ingredient/').then(res => {

                res.data.forEach(ingredient => {

                    let ingredientIds = [];

                    pizza.ingredients.forEach(ingredientArray => {

                        ingredientIds.push(ingredientArray.ingredientId)
                    })



                    if (ingredientIds.includes(ingredient.ingredientId)) {
                        document.querySelector('.js_form_ingredients').innerHTML +=
                            `
                     <option selected value="${ingredient.ingredientId}">${ingredient.name}</option>

                    `

                    } else {
                        document.querySelector('.js_form_ingredients').innerHTML +=
                            `
                        <option value="${ingredient.ingredientId}">${ingredient.name}</option>

                    `
                    }
                })
            }).catch(err => {
                console.log(err)
            })


        }
    ).catch(
        error => {
            console.log(error);
            document.querySelector('.js_pizza_table').innerHTML +=

                `
                        <div class="p-3">
                          <p>Ops qualcosa è andato storto!</p>
                          </div>
                     `;
        }
    )
    
    ///////////////////////

    function UpdatePizza(e){
        e.preventDefault();
       
        let pizzaName = document.querySelector("#pizzaName").value;
        let pizzaDescription = document.querySelector("#pizzaDescription").value
        let pizzaImage = document.querySelector("#pizzaImage").value
        let pizzaPrice = document.querySelector("#pizzaPrice").value
        let pizzaCategory = document.querySelector(".js_form_categories").value
        let pizzaIngredients = document.querySelector(".js_form_ingredients")

            var selected = Array.from(pizzaIngredients.options).filter(function (option) {
            return option.selected;
        }).map(function (option) {
            return option.value;
        });

        console.log(selected)

        axios.put('/api/pizza/' + @Model,  {
            formPizza:{
                
            },
            pizza: {
                name: pizzaName,
                description: pizzaDescription,
                image: pizzaImage,
                price: pizzaPrice,
                categoryId: pizzaCategory
            },
            selectedIngredients: selected,
            

        }).then(res => {
            console.log(res)
            alert("pizza modificata correttamente")
        }).catch(e => {
            console.log(e)
            alert("pizza non modificata, qualcosa è andato storto")
        })
    }
   
   
    
</script>