@{

    ViewData["Title"] = "Home Page";
    Layout = "_MyLayout";
    
}

<div class="text-center m-auto">
    <h1>Pizzeria da Davide</h1>
    <div class="w-50 m-auto">
        <input class="form-control js_search"  type="text" placeholder="Cerca un pizza" aria-label="default input example">
    </div>
    <div class="js_loading">
        <img width="100" src="/img/loader.gif"/>
        <p>Loading...</p>
    </div>
    <div class="js_no_pizza d-none">
        <p>Non c'è alcuna pizza</p>
    </div>
    <div class="js_pizza_table text-center m-auto row row-cols-1 row-cols-md-2 row-cols-lg-3">
    </div>
</div>

<script type="text/javascript">

    getPizza("");

    var searchtimer;

    /// Set Timeout (1 sec) to search
    document.querySelector(".js_search").addEventListener("input", (e) => {
        //clear previous call
        clearTimeout(searchtimer);
        let title = e.target.value;
        searchtimer = setTimeout(() => {

            getPizza(title);
        }, 1000);
    });

    function getPizza(title) {

        axios.get('/api/pizza/', {
            params: {
                title: title
            }
        }).then(
            result => {
                console.log(result);

                document.querySelector('.js_loading').classList.add('d-none');
                if (result.data.length == 0) {
                    document.querySelector('.js_no_pizza').classList.remove('d-none');
                    document.querySelector('.js_pizza_table').classList.add('d-none');
                }else{
                    document.querySelector('.js_no_pizza').classList.add('d-none');
                    document.querySelector('.js_pizza_table').innerHTML = '';

                    result.data.forEach(pizza => {

                        var url = '@Html.Raw(@Url.Action("Details", "Home"))/' + pizza.pizzaId;
                        var url2 = 'api/pizza/delete/' + pizza.pizzaId;
                        //var url = '/menu/pizza/'+ pizza.pizzaId;

                        console.log('pizza', pizza);
                        document.querySelector('.js_pizza_table').innerHTML +=
                            `<div class="p-3">
                             
                               <div class="pizza_menu card col mb-3  p-2 ">
                                    <a href="${url}" >
                                <img class="card-img-top w-100" src="${pizza.image}" />
                                 <div class="card-body text-black">
                                  <h4 class="fw-bold">${pizza.name}</h4>
                                  <span>${pizza.price} €</span>
                                  <div>
                                       </a>
                                 
                                       </div>
                                      </div>
                                </div>
                              
                             </div>
                            `;                        
                    })
                }
            }
        ).catch(
            error => {
                console.log(error)
            }
        )

        


    }

   

   


</script>